{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="content" class="site-content">
        <div id="primary" class="content-area column full">
            <main id="main" class="site-main">
                <div class="grid portfoliogrid">

                    {% for post in posts %}
                        <article class="hentry">
                            <header class="entry-header">
                                <div class="entry-thumbnail">
                                    {% if post.photo %}
                                        <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                                    {% else %}
                                        <img src="https://picsum.photos/id/1060/300/201/?blur=2" alt="{{ post.title }}">
                                    {% endif %}
                                </div>
                                <h2 class="entry-title"><a href="{{ post.get_absolute_url }}"
                                                           rel="bookmark">{{ post.title }}</a>
                                </h2>
                                <a class='portfoliotype' href='portfolio-category.html'>summer</a>
                                <a class='portfoliotype' href='portfolio-category.html'>woman</a>
                                <a class='portfoliotype' href='portfolio-category.html'>yellow</a>
                            </header>
                        </article>
                    {% endfor %}

                </div>
                {% if page_obj.has_other_pages %}
                    <nav class="pagination">

                        {% if page_obj.has_previous %}
                            <a class="page-numbers" href="?page={{ page_obj.previous_page_number }}">Previous<i
                                    class="previous page-numbers" aria-hidden="true"></i></a>
                        {% endif %}

                        {% for p in page_obj.paginator.page_range %}
                            {% if page_obj.number == p %}
                                <span class="page-numbers current">{{ p }}</span>
                            {% elif p > page_obj.number|add:-2 and p < page_obj.number|add:2 %}
                                <a class="page-numbers" href="?page={{ p }}">{{ p }}</a>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <a class="page-numbers" href="?page={{ page_obj.next_page_number }}">Next<i
                                    class="next page-numbers" aria-hidden="true"></i></a>
                        {% endif %}
                    </nav>
                    <br/>
                {% endif %}
            </main>
        </div>
    </div>
{% endblock %}